.text-title{
    padding: 8px;
    font-family: 'Roboto', serif;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1px;
    color:'wheat';
    text-decoration: 'underline'
}

.past-profile > ul {
    letter-spacing: 1px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
.past-profile > ul > li {
    font-family: 'Roboto', serif;
    padding: 8px;
    font-size: 19px;
    color: rgb(0, 34, 39);
}

.resume {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}

.resume-button {
    margin-top: 20px;
}
